/*
This is used to center the position of items throughout the site, reduciing the code due to its reusablity. 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 56.25%;
  overflow: hidden;
  height: 100%;
  background-color: #f7f7f7;
}

body {
  box-sizing: border-box;
  height: 100%;
  max-width: 1350px;
  margin: 0 auto;
  overflow: auto;
  background-color: #fff;
}
body > section {
  padding: 3rem 0;
}

::selection {
  background-color: #005b96;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.no-scroll {
  overflow: hidden;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-bottom-small {
  margin: 1.5rem 0 !important;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important;
}

.u-margin-top-bottom-medium {
  margin: 2.5rem 0 !important;
}

.btn {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 100%;
  color: inherit;
  font-size: 140%;
  cursor: pointer;
}
.btn--tertiary-light {
  background-color: #30c8c9;
  color: #fff;
  border: none;
}
.btn--tertiary-light:hover {
  background-color: #30c8c9;
  color: #fff;
}

.carousel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.carousel::after {
  content: "";
  flex: 0 0 1rem;
}
.carousel--navigation {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.carousel--button {
  display: none;
}
@media only screen and (min-width: 63.9em) {
  .carousel--button {
    display: block;
    background: #fff;
    color: #777;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.5rem;
    font-weight: 300;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 50%;
    padding: 1rem;
  }
  .carousel--button:first-of-type {
    margin-left: auto;
  }
  .carousel--button:hover {
    background-color: #f7f7f7;
  }
}

.social__links {
  margin: 2rem 0;
  display: flex;
  gap: 5rem;
}
.social__links a {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__links a .fab {
  height: 100%;
  width: auto;
  transition: all 0.3s ease;
}
.social__links a .fab:hover {
  transform: scale(1.15);
}
.social__links a .fa-instagram:hover {
  color: #cd486b;
}
.social__links a .fa-linkedin:hover {
  color: #0077B5;
}
.social__links a .fa-youtube:hover {
  color: #FF0000;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem;
  width: 100%;
}
.contact__form > * {
  padding: 3rem;
  height: 100%;
}
@media only screen and (min-width: 30em) {
  .contact__form {
    flex-direction: row;
  }
  .contact__form > * {
    max-width: 50%;
  }
}
.contact__form div {
  background-color: #00BCD4;
  color: white;
  width: 100%;
}
.contact__form div h3 {
  font-size: 5rem;
  text-align: center;
}
.contact__form div p {
  font-size: 2.5rem;
  margin: 4rem auto;
  width: 100%;
  max-width: 40rem;
}
.contact__form div .social__links {
  justify-content: center;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  max-width: 50rem;
  width: 80vw;
  margin: 2rem auto;
  background-color: #fff;
  text-align: center;
}
.contact__form form h6 {
  font-size: 5rem;
}
.contact__form form p {
  font-size: 2rem;
}
@media (min-width: 31em) {
  .contact__form form {
    max-width: 35rem;
  }
}
.contact__form form > input, .contact__form form > textarea {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 1px #777;
}
.contact__form form input {
  border: none;
  border: solid 1px #777;
  padding: 1rem;
}
.contact__form form inputinput {
  text-decoration: none;
}
.contact__form form input:focus {
  border-bottom: solid 2px #30c8c9;
}
.contact__form form textarea {
  min-height: 15rem;
  padding: 1rem;
}
.contact__form form textarea:focus {
  border: solid 2px #30c8c9;
}
.contact__form .btn {
  min-width: fit-content;
  max-width: 20rem;
  max-height: 6rem;
  padding: 1.5rem 2rem;
  margin: 2rem auto;
  border-radius: 2.5rem;
}
.contact__form .btn:hover {
  transform: scale(1.05);
}

.footer > p {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0 0 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.header__logo {
  width: 30rem;
  height: 30rem;
}
.header__logo img {
  height: 100%;
  width: auto;
}
.header .navigation {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  font-size: 1.4rem;
  max-width: 90%;
}
@media only screen and (min-width: 30em) {
  .header .navigation {
    gap: 4rem;
    letter-spacing: 0.3rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
.header .navigation li {
  padding: 1rem;
}
.header .navigation li {
  transition: font-size 0.2s;
}
.header .navigation li:hover {
  color: blueviolet;
  transform: scale(1.15);
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h6 {
  background-color: white;
  font-size: 1.7rem;
  margin: 0 3rem;
  padding: 2rem;
  font-family: italiana;
  font-weight: 500;
  font-style: italic;
  max-width: 50rem;
}

.section__header {
  max-width: 95%;
  margin: 2.5rem;
}
.section__header h2 {
  color: #471AA0;
  font-weight: 400;
  font-size: 3.5rem;
}
.section__header h3 {
  font-weight: 400;
  font-size: 2.2rem;
}
.section__header p {
  color: #777;
  font-weight: 300;
  font-size: 1.8rem;
}

.homepage .hero {
  background-image: url(../img/thailand-homeimage.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  max-height: 50rem;
}
.homepage .locations .carousel {
  padding-left: 2rem;
  gap: 3rem;
}
.homepage .locations .carousel #thailand {
  background-image: url(../img/thailand-homeimage.jpeg);
}
.homepage .locations .carousel #thailand .red {
  color: #A51931;
}
.homepage .locations .carousel #thailand .white {
  color: #F4F5F8;
}
.homepage .locations .carousel #thailand .blue {
  color: #2D2A4A;
}
.homepage .locations .carousel #laos {
  background-image: url(../img/laos-homeimage.jpeg);
}
.homepage .locations .carousel #laos .red {
  color: #A51931;
}
.homepage .locations .carousel #laos .white {
  color: #F4F5F8;
}
.homepage .locations .carousel #laos .blue {
  color: #2D2A4A;
}
.homepage .locations .carousel #aus {
  background-image: url(../img/aus-homeimage.jpeg);
}
.homepage .locations .carousel #aus .red {
  color: #FF0000;
}
.homepage .locations .carousel #aus .white {
  color: #F4F5F8;
}
.homepage .locations .carousel #aus .blue {
  color: #00008B;
}
.homepage .locations .carousel--item {
  border-radius: 25%;
  height: 55rem;
  width: 90%;
  min-width: 35rem;
  max-width: 10rem;
  border-radius: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.homepage .locations .carousel h3 {
  margin: 2rem;
  padding: 0.5rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: rgba(69, 69, 69, 0.6);
  border-radius: 2.5rem;
  letter-spacing: 0.1rem;
  width: fit-content;
  height: max-content;
}
.homepage .equipment img {
  height: 20rem;
  width: auto;
}
.homepage .equipment .carousel {
  gap: 3rem;
  padding-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
