// COLORS
$color-primary: #005b96;
$color-primary-light: #2250f4;
$color-primary-dark: #011f4b;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #30c8c9;
$color-tertiary-dark: #471AA0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
