.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

    &__logo {
        width: 30rem;
        height: 30rem;

        img {
            height: 100%;
            width: auto;
        }
    }

    .navigation {
        display: flex;
        gap: 3rem;
        margin: 2rem 0;
        font-size: 1.4rem;
        max-width: 90%;

        @include respond(mini-tablet) { 
            gap: 4rem;
            letter-spacing: 0.3rem;
            font-size: 1.6rem;
            font-weight: 500;
        }

        li {
            padding: 1rem;
        }

        li {
            transition: font-size 0.2s;

            &:hover {
                color: blueviolet;
                transform: scale(1.15);
            }
        }
    }
}