.food__locations {

    .carousel {
        margin: 2.5rem 0;
        padding-left: 2rem;
        gap: 3rem;

        &--item {
            border-radius: 25%;
            height: fit-content;
            width: 90%;
            min-width: 35rem;
            max-width: 10rem;
            border-radius: 1.5rem;
            background-size: cover;  
            background-position: center; 
            background-repeat: no-repeat;  
            display: inline-block;
            padding: 2rem;
            border-radius: 0.4rem;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
            background: #fff;
            background: -webkit-linear-gradient(top left, #fff, #f0f0ea);
            background: -o-linear-gradient(top left, #fff, #f0f0ea);
            background: -moz-linear-gradient(top left, #fff, #f0f0ea);
            background: linear-gradient(top left, #fff, #f0f0ea);
        }

        img {
            height: 30rem;
            width: auto;
            display: flex;
            margin: 0 auto;
        }

        h4 {
            margin: 1rem 1rem 1rem 0;
            font-size: 3rem;
        }

        h5 {
            margin: 1rem 1rem 1rem 0;
            font-size: 2.5rem;
        }

        a {
            color: blueviolet;
        }

        .price__holder {
            display: flex;
            align-content: center;
            align-items: center;
        }
    }

}