.social__links { 
    margin: 2rem 0;
    display: flex;
    gap: 5rem;

    a {
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .fab {
            height: 100%;
            width: auto;
            transition: all 0.3s ease; 
        }

        .fa-instagram {
            &:hover {
                color: #cd486b;
            }
        }

        .fa-linkedin {
            &:hover {
                color: #0077B5;
            }
        }

        .fa-youtube {
            &:hover {
                color: #FF0000;
            }
        }
    }
}