.no-scroll {
  overflow: hidden;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-bottom-small {
  margin: 1.5rem 0 !important;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important;
}

.u-margin-top-bottom-medium {
  margin: 2.5rem 0 !important;
}

