.laos {
    .hero {
        background-image: url(../img/laos-homeimage.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        max-height: 70rem;
    }
}