.thailand {
    .hero {
        background-image: url(../img/thailand-homeimage.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        max-height: 50rem;
    }
}